ipykernel
beautifulsoup4
requests
openpyxl
scikit-learn
scikit-learn-intelex
scikit-plot
pandas
numpy
seaborn
matplotlib
PyDrive
python-Levenshtein
wordcloud
lime
imbalanced-learn
joblib
spacy
eli5
flair
swifter
imblearn
streamlit-aggrid
streamlit_metrics==0.1.0
Image

#Data-preprocessing packages
tqdm
nltk
requests
contractions
